@page
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}

<h3>@ViewData["Title"]</h3>





<main id="main" class="main">
    <partial name="_StatusMessage" for="StatusMessage" />
    <div class="pagetitle">
        <h1>Profile</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                <li class="breadcrumb-item active">Profile</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
        <div class="row">
            
            <div class="col-xl-12">

                <div class="card">
                    <div class="card-body pt-3">
                       
                        <div class="tab-content pt-2">
                            <div class="tab-pane fade show active profile-overview" id="profile-edit">

                                <form id="profile-form" method="post">
                                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                    <div class="row mb-3">
                                        <label asp-for="Username" class="form-label"></label>
                                        <input asp-for="Username" class="form-control" disabled />
                                        
                                    </div>
                                    <div class="row mb-3">
                                        <label asp-for="Input.FirstName" class="form-label"></label>
                                        <input asp-for="Input.FirstName" class="form-control" />
                                        <span asp-validation-for="Input.FirstName" class="text-danger"></span>
                                    </div>
                                    <div class="row mb-3">
                                        <label asp-for="Input.LastName" class="form-label"></label>
                                        <input asp-for="Input.LastName" class="form-control" />
                                        <span asp-validation-for="Input.LastName" class="text-danger"></span>
                                    </div>
                                    <div class="row mb-3">
                                        <label asp-for="Input.PhoneNo" class="form-label"></label>
                                        <input asp-for="Input.PhoneNo" class="form-control" />
                                        
                                        <span asp-validation-for="Input.PhoneNo" class="text-danger"></span>
                                    </div>
                                    <div class="row mb-3">
                                        <label asp-for="Input.Address" class="form-label"></label>
                                        <input asp-for="Input.Address" class="form-control" />
                                        <span asp-validation-for="Input.Address" class="text-danger"></span>
                                    </div>
                                    <div class="row mb-3 w-25">
                                        <label asp-for="Input.DOB" class="form-label"></label>
                                        <input asp-for="Input.DOB" class="form-control" />

                                        <span asp-validation-for="Input.DOB" class="text-danger"></span>
                                    </div>
                                    <button id="update-profile-button" type="submit" class="w- 70 btn-lg btn-primary">Save</button>
                                </form>

                            </div>

                    </div>
                </div>

            </div>
        </div>
        </div>
    </section>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
