section {
    padding: 2rem 9%;
}
/*.container {
    display: flex;
}
*/
a {
    text-decoration: none !important;
    color: inherit;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
    width: 100%;
    height: 70px;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.logo {
    font-weight: bold;
    font-size: 25px;
    color: darkblue;
    cursor: pointer;
}

.HeaderWrapper {
    width: 100%;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: border-box;
}

.navbar {
    display: flex;
    align-items: center;
}


header .navbar a {
    font-size: 20px;
    border-radius: 10px;
    padding: 7px 10px;
    color: #666;
    margin-right: 10px;
}

.navbar a.active, .navbar a:hover {
    color: #fff;
    background: #27ae60;
}

.icon {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    height: 50px;
    width: 50px;
    line-height: 4.5rem;
    text-align: center;
    font-size: 1.7rem;
    color: #192a56;
    border-radius: 50%;
    background: #eee;
}

    .icon:hover {
        color: #fff;
        background: #27ae60;
        transform: rotate(360deg);
    }

#menu-bar {
    display: none;
}

.HeaderIcon {
    position: relative;
    cursor: pointer;
    margin-right: 10px;
    color: #555;
}

.icons {
    display: flex;
    align-items: center;
}















.home-hero {
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: right;
    background-image: url(../images/background4.jpg);
    position: relative;
}

.home-hero-overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-hero .content {
    font-size: 18px;
    text-align: center;
    color: #fff;
}

.home-hero .home-hero-overlay .content h1 {
    font-size: 50px;
}

    .home-hero .home-hero-overlay .content h1 span {
        font-size: 28px;
        width: 75%;
        border: none;
        border-bottom: 3px solid #27ae60;
        padding-bottom: 20px;
        margin-top: 10px;
        word-spacing: 10px;
    }

.home-hero .home-hero-overlay .content button {
    margin: 20px;
    border: #00ad57 1px solid;
    background: #00ad57;
    color: #fff;
    min-width: 250px;
    padding: 15px 0px 15px 0px;
    border-radius: 7px;
    font-size: 18px;
    -moz-transition: all 0.2s ease-in 02s;
    transition: all 0.2s ease-in 0.2s;
    -webkit-transition: all 0.2s ease-in 0.2s;
    -ms-transition: all 0.2s ease-in 0.2s;
    -o-transition: all 0.2s ease-in 0.2s;
    cursor: pointer;
}

    .home-hero .home-hero-overlay .content button:hover {
        background: #FFF;
        color: #00ad57;
    }

.home-hero .home-hero-overlay .content .desc {
    color: #fff;
    font-size: 28px;
    margin: 20px auto;
    width: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}









.first-link-full-div {
    min-height: 300px;
    margin: 10px auto;
    text-align: center;
    width: 100%;
    padding: 60px 0px 0px 0px;
    border: rgba(235, 235, 235, 1) 1px solid;
    border-radius: 7px;
    background-color: #00ad57;
}
    .first-link-full-div .title-div {
        min-height: 30px;
        background: #FFF;
        padding: 10px;
        float: left;
        min-width: 280px;
        color: #00ad57;
        margin: -80px 0px 0px 50px;
        border-radius: 5px;
        border: 1px solid #00ad57  ;
    }
.first-link-full-div .title-div h2 {
  padding: 0x;
  margin: 0px;
  font-size: 18px;
  font-family: body_text;
  font-weight: normal;
}
.first-link-full-div .first-link-back {
  width: 22%;
  display: inline-block;
  vertical-align: top;
  height: auto;
  margin-bottom: 60px;
  margin-right: 10px;
}
.first-link-full-div .first-link-back .div {
  text-align: center;
  background: #fff;
  border: rgba(235, 235, 235, 1) 1px solid;
  height: 100px;
  border-radius: 5px;
  -moz-transition: all 0.3s ease-in 0.3s;
  transition: all 0.3s ease-in 0.3s;
  -webkit-transition: all 0.3s ease-in 0.3s;
  -ms-transition: all 0.3s ease-in 0.3s;
  -o-transition: all 0.3s ease-in 0.3s;
}
.first-link-full-div .first-link-back .div:hover {
  box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.1);
}

.first-link-full-div .first-link-back .div h3 {
  font-size: 20px;
  color: #192a56;
  line-height: 40px;
  margin: 0px;
  font-weight: 300;
}
.first-link-full-div .first-link-back .div .btn {
  border: #192a56 1px solid;
  min-width: 150px;
  height: 40px;
  border-radius: 5px;
  padding: 0px 20px 0px 20px;
  background: #27ae60;
  color: #fff;
  margin: 10px auto;
  font-family: body_text;
  -moz-transition: all 0.2s ease-in 02s;
  transition: all 0.2s ease-in 0.2s;
  -webkit-transition: all 0.2s ease-in 0.2s;
  -ms-transition: all 0.2s ease-in 0.2s;
  -o-transition: all 0.2s ease-in 0.2s;
  cursor: pointer;
}
.first-link-full-div .first-link-back .div .btn:hover {
  background: #fff;
  color: #27ae60;
}

@media all and (max-width: 950px) {
  .first-link-full-div .first-link-back {
    width: 30%;
  }
}
@media all and (max-width: 780px) {
  .first-link-full-div .first-link-back {
    width: 46%;
  }
}

@media all and (max-width: 500px) {
  .first-link-full-div {
    width: 96%;
  }
  .first-link-full-div .title-div {
    float: left;
    margin: -80px 0px 0px 20px;
  }
  .first-link-full-div .first-link-back {
    width: 49%;
  }
  .first-link-full-div .first-link-back .div h3 {
    font-size: 16px;
  }
}
@media all and (max-width: 350px) {
  .first-link-full-div .first-link-back .div h3 {
    font-size: 13px;
  }
  .first-link-full-div .title-div {
    float: left;
    margin: -80px 0px 0px 5px;
  }
}























.footer {
    background-color: black;
    position:relative !important;
    margin-top:100px
}


.footer .box-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 50px;
}

    .footer .box-container .box h3 {
        padding: 10px 0;
        font-size: 20px;
        color: #27ae60;
    }

    .footer .box-container .box a {
        display: block;
        padding: 10px 0;
        font-size: 18px;
        color: white;
        cursor: pointer;
    }

        .footer .box-container .box a:hover {
            color: #27ae60;
            text-decoration: underline;
        }

.footer .credit {
    text-align: center;
    border-top: 1px solid rgba(0,0,0,.1);
    font-size: 20px;
    color: #192a56;
    padding: 20px;
    margin-top: 10px;
}

    .footer .credit span {
        color: #27ae60;
    }














