@model TheFoodHubMVC.Models.ProductCategory

@{
    ViewData["Title"] = "Category Details";
    Layout = "~/Views/Shared/_LayoutDashboard.cshtml";
}
<main id="main" class="main">
    <div class="pagetitle">
        <h1>Category Details</h1>
        <nav>
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a asp-controller="Dashboard" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item active">Category Details</li>
            </ol>
        </nav>
    </div><!-- End Page Title -->

    <section class="section profile">
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CategoryName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CategoryName)
        </dd>
    </dl>

    <p>
        <a asp-action="Edit" asp-route-id="@Model?.CategoryId">
            <button type="button" class="btn btn-outline-primary">Edit</button>
        </a>
    </p>

    <p>
        <a asp-action="Index">
            <button type="button" class="btn btn-outline-primary">Back</button>
        </a>
    </p>

    </section>
</main>